.demo{
    height: 300px;
    background: red;
}
.btn_demo{
    width: 200px;
    text-align: center;
    height: 60px;
    background:blue;
    color:black;
    border:none;
    display: block;
}
.btn_test{
    background: red;
}